html{
    background: black;
    color:white;
    font-family: Arial;

}
body {
    margin: 30px;
}
ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}
h1{
    color:greenyellow
}
a {
    color: white;
    text-decoration: none;
    

}
header img{
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:solid 5px blue;
}
.center{
    text-align: center;
}
.topico {
    font-size:13pt;
    font-family: Arial black;
    
    text-decoration: underline;
    font-weight: bold;}
 .subtopico {
    font-size:12pt;
    font-family: Arial;
    
    font-weight: bold;
    margin-left: 5pt;}

    footer{
        display:flex;
        justify-content: center;
    }

footer img {
    width: 40px;
    height: 40px

}

footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin: 2px;
}

nav a:hover{
    color:blue;
}

.subtopico a:hover{
    color:red;
}